{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cv1.css' %}">
    <script src="https://kit.fontawesome.com/8abaea27c7.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style> a:hover {color: {{person.pallete.contrast_color}};} </style>
<body>
    <div id="main-container">
        <div id="left-container" style="background-color:{{person.pallete.primary_color}}">
            <div id="profile-img-container">
                {% if person.profile_image %}
                    <img src="{{ person.profile_image.url }}" alt="" id="profile-img">
                {% else %}
                    <img src="{% static 'images/image.jpg' %}" alt="" id="profile-img">
                {% endif %}
            </div>

            <section class="cv-section" id="about-me">
                <h1 class="cv-title">SOBRE MÍ</h1> <hr>
                <p class="cv-text">{{person.about}}</p>
            </section>

            <section class="cv-section" id="contact-section">
                <h1 class="cv-title">CONTACTO</h1> <hr>

                {% for contact in contacts %}
                    <div class="grid-container">
                        <i class="{{contact.contact_type}}"></i>
                        <a type="{{ contact.get_contact_type_display }}" content="{{contact.value}}" class="contact-link" target="_blank">{{contact.value}}</a>
                    </div>
                {% endfor %}
            </section>

            <section class="cv-section" id="contact-section">
                <h1 class="cv-title">IDIOMAS</h1> <hr>
                <div class="grid-container">
                    {% for language in languages %}
                        <p class="cv-text">{{language.value}}</p>
                        <div class="progress-bar-container"><div class="progress-bar" style="width:{{language.proficiency}}%; background-color:{{person.pallete.contrast_color}};"></div></div>
                    {% endfor %}
                </div>
            </section>

            <section class="cv-section" id="aptitude-section">
                <h1 class="cv-title">APTITUDES</h1> <hr>
                <ul>
                   {% for aptitude in aptitudes %} <li>{{aptitude.value}}</li> {% endfor %} 
                </ul>   
            </section>
        </div>
        <div id="right-container">

            <section class="cv-section" id="skill-section">
                <h1 class="cv-title">HABILIDADES</h1> <hr>
                <div class="grid-container">
                    {% for skill in skills %}
                        <p class="cv-text">{{skill.value}}</p>
                        <div class="progress-bar-container"><div class="progress-bar" style="width:{{skill.proficiency}}%; background-color:{{person.pallete.contrast_color}};"></div></div>
                    {% endfor %}
                </div>
            </section>

            <section class="cv-section" id="education-section">
                <h1 class="cv-title">EDUCACIÓN</h1> <hr>
                {% for education in educations %}
                    <div class="section-item">
                        <h4> <a href="{{education.website}}" target="_blank">{{education.institution}}</a></h4>
                        <p>{{education.description}}</p>
                        <p>
                            {% if education.end_year and education.end_year != education.start_year %}{{education.start_year}} - {{education.end_year}}{% endif %}
                            {% if education.end_year and education.end_year == education.start_year %}{{education.start_year}}{% endif %}
                            {% if not education.end_year %}{{education.start_year}} - Presente{% endif %}
                            | {{education.location}}
                        </p>
                    </div>
                {% endfor %}
            </section>

            <section class="cv-section" id="education-section">
                {% if laboral_exp|length > 0%}
                    <h1 class="cv-title">EXPERIENCIA LABORAL</h1> <hr>
                {% endif %}

                {% for exp in laboral_exp %}
                    <div class="section-item">
                        <h4> <a href="{{exp.website}}" target="_blank">{{exp.company}}</a></h4>
                        <p class="item-text education-text">
                            {{exp.position}} ({{exp.start_year}}{% if exp.end_year %}- {{exp.end_year}}{% endif %})
                        </p>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
    <div style="width:800px; height:10px; background-color:gray;" class="footerdiv"></div>
</body>

<script src="{% static 'js/contact-links.js' %}"> </script>
<script> 
    var personName = "{{ person.name|escapejs }}";
    var personLastName = "{{ person.last_name|escapejs }}";
</script>
<script src="{% static 'js/name-position.js' %}"></script>
</html>