{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="left-container">
            <div class="profile-img-container">
                <img src="{% static 'images/image.jpg' %}" alt="" class="profile-img">
            </div>

            <section class="cv-section" id="about-me">
                <h1 class="cv-section-title">SOBRE MÍ</h1> <hr>
                <p class="cv-section-desc">{{person.about}} </p>
            </section>

            <section class="cv-section" id="contact-section">
                <h1 class="cv-section-title">CONTACTO</h1> <hr>
                {% for contact in contacts %} 
                    <div class="section-item">
                        <div class="contact-icon-container">
                            <img src="{% static 'images/' %}{{contact.contact_type}}.png " alt="" class="contact-icon">
                        </div>
                        <a class="contact-link" type="{{contact.contact_type}}" content="{{contact.value}}">{{contact.value}}</a>
                    </div>
                {% endfor %}
            </section>
            
            <section  class="cv-section">
                <h1 class="cv-section-title">IDIOMAS</h1> <hr>
                <div class="section-grid-container">
                    {% for language in languages %} 
                        <p class="cv-section-desc">{{language.value}}</p>
                        <div class="progress-bar-container"><div class="progress-bar" style="width: {{language.proficiency}}%;"></div></div>
                    {% endfor %}
                </div>
            </section>

            <section class="cv-section" id="aptitude-section">
                <h1 class="cv-section-title">APTITUDES</h1> <hr>
                <ul>
                   {% for aptitude in aptitudes %} <li>{{aptitude.value}}</li> {%endfor%} 
                </ul>
            </section>

            
            
        </div>
        <div class="right-container">
            <section class="name-container">
                <h1>{{person.name}}<br>{{person.last_name}} </h1>
            </section>
        
            <section  class="cv-section">
                <h1 class="cv-section-title">HABILIDADES</h1> <hr>
                <div class="section-grid-container">
                    {% for skill in skills %} 
                        <p class="cv-section-desc">{{skill.value}}</p>
                        <div class="progress-bar-container"><div class="progress-bar" style="width: {{skill.proficiency}}%;"></div></div>
                    {% endfor %}
                </div>
            </section>

            <section class="cv-section">
                <h1 class="cv-section-title">EDUCACIÓN</h1> <hr>
                {% for education in educations %} 
                    <div class="education-item">
                        <h4>{{education.institution}}</h4>

                        {% if education.description %} <p>{{education.description}}</p> {% endif %}

                        {% if education.end_year != education.start_year %} 
                            {% if education.end_year == None %}
                                <p class="item">{{education.start_year}} - Presente | {{education.location}}</p>
                            {% else %}
                                <p class="item">{{education.start_year}} - {{education.end_year}} | {{education.location}}</p>
                            {% endif %}
                        {% else %}
                            <p class="item">{{education.start_year}} | {{education.location}}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </section>
        </div>

        
    </div>
</body>
<script src="{% static 'js/contact-links.js' %}"> </script>
</html>